/* Languages Syntax Playgrounds styles */
.mainlanguages {
  flex-direction: column;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 130px 0px 0px 0px;
}

.DocumentationLanguages {
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
  margin: 0px auto 100px auto;

  iframe {
    border: 2px solid white;
    border-radius: 20px;
    height: 300px;
    width: 500px;
  }
}

.ImgAndTitle {
  border: 1px solid white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20px;
  background-color: #12122d;
  gap: 20px;
  align-content: center;
  align-items: center;
  display: flex;

  img {
    height: 70px;
  }

  h1 {
    color: #149CEA;
    font-size: 50px;
  }
}

.InfoForLang {
  width: 500px;
  flex-direction: column;
  display: flex;

  p {
    background-color: #1a264f;
    padding: 20px;
    border: 1px solid white;
    border-bottom: none;
  }
}

.btnfordocu {
  width: 500px;
  border-top: none;
  border: 1px solid rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  color: #0c348a;
  padding: 15px;
  transition: all 0.2s ease-in-out;
  text-align: center;
  display: block;

  &:hover {
    background-color: #a0c9ff;
  }
}
